// custom styles

// Range Slider
.rc-slider-rail {
  height: 4px !important;
}

.rc-slider-track {
  height: 4px !important;
  background-color: rgba(33, 33, 33, .8) !important;
}

.rc-slider-handle {
  margin-top: -8px !important;
  width: 6px !important;
  height: 20px !important;
  border: 2px solid rgba(33, 33, 33, .8) !important;
  color: rgba(33, 33, 33, .8) !important;
  background-color: rgba(33, 33, 33, .8) !important;
  border-radius: 0 !important;
}

.range-tooltip {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.gallery-top {
  height: 330px;
  width: 100%;
  @media screen and (min-width: 576px) {
    height: 510px;
  }
  @media screen and (min-width: 768px) {
    height: 690px;
  }
  @media screen and (min-width: 992px) {
    height: 530px;
  }
  @media screen and (min-width: 1200px) {
    height: 635px;
  }
}

.gallery-thumbs {
  height: 100px;
  margin: 10px 0;
  box-sizing: border-box;
  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.6;
    margin: 0 5px;
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background: var(--warning) !important;
}

.nav-sm-screen {
  @media screen and (min-width: 576px) {
    background: #f4f5f7;
    padding: 24px 16px;
    border-radius: 4px;
  }
  @media screen and (min-width: 992px) {
    background: transparent;
  }
  @media screen and (min-width: 1200px) {
    background: transparent;
  }
}
